<div class="container">
	<h1>Samples</h1>
	<h2><%= @project.project_name if @project.present? %> </h2>
	<p><%= link_to "New Sample", new_sample_path, class: "pull-xs-right" if current_user.role != 'user'%></p>
	<%= render "samples_index_table"%>	
</div>
