<div class="container">
<div class="panel panel-default panel-top-margin">
	<div class="panel-heading">
		<h1>New Sample <%= "#{@project.project_name if @project.present?}" %></h1>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
</div>

