<div class="container">
<div class="panel panel-default panel-top-margin">
	<div class="panel-heading">
		<h2>Edit Instruction</h2>
		<em> <%= "#{@instruction.project.project_name}" %></em>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>

</div>
