<div class="panel panel-default  panel-top-margin">
	<div class="panel-heading">
		<h1><%= @cost.project.project_name %></h1>
	</div>
	<div class="panel-body">
		<h3>Costs#edit</h3>
		<%= render 'form' %>
	</div>
</div>
