<div class="panel panel-default panel-top-margin">
	<div class="panel-heading">
		<h2>Edit Cost</h2>
		<em> <%= "#{@cost.project.project_name}" %></em>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
