<div class="container container-user ">
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>New Cost</h2>
		<em><%= "#{@project.project_name if @project.present?} " %></em>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
</div>
