<div class="col-xs-12 col-md-12 col-no-padding">
	<div class="panel-body panel-home-show">
		<%= link_to image_tag(src, class: "img-responsive img-thumbnail project-image"), path%>
		<div class="jumbotron jumbotron-home">
		  <h3 ><%= link_to name, path, style: "color:white; "%><h3>
		</div>
	</div>
</div>