


<div class="container-home">
	<div class="section">
		<img class="img-responsive img-thumbnail project-image" src="/home_images/upper.jpg">
		<div class="jumbotron jumbotron-home">
		  <h1>WELCOME NcSTAR</h1>
		  <h4>Manage Your Unique Products in NcSTAR</h4>
		</div>
	</div>
	<img class="img-responsive img-thumbnail project-image" src="/home_images/scope.png">
	<img class="img-responsive img-thumbnail project-image" src="/home_images/reflex_sight.png">
	<img class="img-responsive img-thumbnail project-image" src="/home_images/mount.png">
	<img class="img-responsive img-thumbnail project-image" src="/home_images/mid08.jpg">
</div>