<p><%= link_to "New PO", new_po_path if current_user.role == 'admin' %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>PO Number</th>
			<th>Created at</th>
		</tr>
	</thead>
	<tbody>
		<% object.last(2).each do |po| %>
			<tr>
				<td><%= po.po_number %></td>
				<td><%= po.date.strftime("%b %d. %y") %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to "All", pos_path %></p>