<p><%= link_to "All Reports", reports_path, class: "pull-xs-right" %></p>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Report Name</th>
			<th>Created at</th>
		</tr>
	</thead>
	<tbody>
		<% object.last(2).each do |report| %>
			<tr>
				<td><%= report.name%></td>
				<td><%= report.created_at.strftime("%b %d. %y") %></td>
			</tr>
		<% end %>
	</tbody>
</table>

