<h1>CurrentUser#index</h1>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>fullname</th>
			<th>email</th>
			<th>created</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @current_user.fullname %></td>
				<td><%= @current_user.email %></td>
				<td><%= time_ago(@current_user.created_at) %></td>
				<td>
					<%= link_to 'Edit', edit_current_user_path(@current_user) %>
				</td>
			</tr>
	</tbody>