
<div class="container-user">
	<div class="row">
		<div class="col-md-3">
			<%= render "index_table_info"%>
		</div>
		<div class="col-md-9">
			<%= render "index_table_tasks"%>
		</div>
	</div> 
</div>