/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#notice_wrapper {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(20, 25, 37, 0.85);
  .alert, .notice {
  	padding: 1.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
}

#account {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(68, 80, 84, 1);
  padding: 15px 0 15px 0;
}