/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

# notice_wrapper {
	position: absolute;
    width: 100%;
    z-index: 999;
    .alert-success {
    color: #3c763d;
    text-align: center;
    background-color: rgba(223,240,216,0.8);
    border-color: #d0e9c6;
}