<div class="row">
	<div class="col-xs-12 col-md-4">
		<form class="products" id="products" action="/products">
			<div class="input-group">
			  <input id="nav-search-input" type="text" class="form-control nav-search-input" name="query" id="query" placeholder="Item Number" >
			  <span class="input-group-addon nav-search-addon btn-default">
			      <button type="submit" class="home-search-button ">
			          <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
			      </button>  
			  </span>
			</div>
		</form>
	</div>
</div><br/>