<div class="container">
<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Admin Setting</h1>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li class="list-item"><%= link_to 'Users Authorization', users_admin_index_path %></li> <!-- Modify users' authorization -->
			<li class="list-item"><%= link_to 'Role Options', role_options_path %></li> <!-- Change the role option -->
			<li class="list-item"><%= link_to 'Status Options', status_options_path %></li> <!-- Change the status option -->
			<li class="list-item"><%= link_to 'Logos', logos_path %></li> <!-- Change the image of logo -->
	</div>
</div>
</div>