<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Admin Setting</h1>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
			<li class="list-item"><%= link_to 'Users', users_admin_index_path %> </li>

			<li class="list-item"><%= link_to 'Role Option', role_options_path %></li>

			<li class="list-item"><%= link_to 'Status Option', status_options_path %></li>

			<li class="list-item"><%= link_to 'Logos', logos_path %></li>
	</div>
</div>