<div class="container container-user ">

<h1>Reports</h1><br/>
<%= render "search"%><br/>

<div class="text-right">
	<%= link_to "New Report", new_report_path, class: "pull-xs-right" if current_user.role == 'admin'%>
</div>
<hr class="hr-table">

<%= render "index_table"%>

</div>
